#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/*css styling for card in cart.jsx*/
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.card-form h4 {
  margin-bottom: 15px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.pay-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #0056b3;
}
/*styles for oder.jsx*/


.balloon-card {
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.balloon-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.text-gradient {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  background-clip: text; /* <-- add this */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* home page css

.card-title {
  color: #2d572c;
}

.lead {
  color: #555;
}

.btn-outline-success:hover {
  background-color: #2d572c;
  color: white;
  border-color: #2d572c;
}
